body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    scroll-behavior: unset;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1, h2, h3, h4, h5, h6, p, span, li {
    color: #000;
    margin: 10px 0;
}
a {
    color: #48f;
    text-decoration: none;
    transition: all 0.3s ease;
}
a:hover {
    opacity: 0.7;
}
a:active {
    opacity: 0.3;
}
/* button {
    color: #ddd;
    background-color: #101016;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 6px 8px;
    margin-bottom: 2px;
    margin-right: 2px;
    transition: all 0.3s ease;
} 
button:hover {
    background-color: #303036;
}
button:active {
    background-color: #505056;
} */
#content {
    margin: 20px 0;
    width: 30%;
    overflow: auto;
}
.hr {
    height: 1px;
    display: block;
    margin: 10px 0;
    border-bottom: 1px solid #ddd;
}

.introduction {
    font-size: 14px;
    color: #aaa;
}